streamlit
pandas
pycountry
python-dotenv
google-generativeai
plotly
numpy
matplotlib
datetime
pillow
gtts
playsound==1.2.2
streamlit-option-menu
streamlit-extras
pygame
firebase-admin==6.4.0
google-cloud-firestore==2.11.0


